body{
  margin:0px;
  padding:0px;

}
kbd {
  display: block;
}
.banner {
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-size:cover;
  background-position: center center;
  height:100vh;
}

.key {
  display:flex;
  background-color:transparent;
  border: 1px solid;
  border-radius: 3px;
  border-color: black;
  padding: 10px;
  width: 60px;
  height:60px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.key:hover{
  border: 2px solid;
  border-color: black;

}
